@model IEnumerable<JOMarkt.Models.ApplicationUser>

@{
    ViewData["Title"] = "Gebruikers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Geboortedatum
            </th>
            <th>
                Geslacht
            </th>
            <th>
                Straat
            </th>
            <th>
                Postcode
            </th>
            <th>
                Telefoonnummer
            </th>
            <th>
                Rol
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboortedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Setadminrole" asp-route-id="@item.Email">Set Admin</a> |
                <a asp-action="Setmemberrole" asp-route-id="@item.Email">Set Member</a> |
                <a asp-action="Setauthorrole" asp-route-id="@item.Email">Set author </a> |

            </td>
        </tr>
        }
    </tbody>
</table>
