@model IEnumerable<JOMarkt.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboortedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td> <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td> 
            <td>
    @if (item.Role == "Admin")
    {
        <p style="color:red;"> @Html.DisplayFor(modelItem => item.Role)</p>
    }
    else if (item.Role == "Author")
    {
        <p style="color:purple;"> @Html.DisplayFor(modelItem => item.Role) </p>
    }
    else
    {
        <p style="color:green;"> @Html.DisplayFor(modelItem => item.Role) </p>
    }

</td>
         
                  <td>
                      <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   
                      <a asp-action="Setadminrole" asp-route-id="@item.Email">Set Admin</a> |
                      <a asp-action="Setmemberrole" asp-route-id="@item.Email">Set Member</a> |
                      <a asp-action="Setauthorrole" asp-route-id="@item.Email">Set author </a> |
                  </td>
        </tr>
}
    </tbody>
</table>
