@model JOMarkt.Models.Bezorgslot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bezorgslot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginTijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginTijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EindTijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EindTijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BezorgslotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
