@model JOMarkt.Models.Product

@{
    ViewData["Title"] = "Details";
}
    <div class="container">

        <h1>Details</h1>
        @if (TempData["Message"] != null)
        {
            <div id="helpdiv" class="alert alert-success" role="alert" style="

  position: fixed;
  top: 50%;
  left:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


">
                @TempData["Message"]
            </div>
            <script type="text/javascript">
                // close the div in 5 secs
                window.setTimeout("closeHelpDiv();", 1600);

                function closeHelpDiv() {
                    document.getElementById("helpdiv").style.display = " none";
                }
            </script>
        }

        <div>
            <h4>Products</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EAN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EAN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Brand)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Shortdescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Shortdescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fulldescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fulldescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Image)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Subcategory)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Subcategory)
                </dd>
                @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Subsubcategory)
                </dt>*@
                @*<dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Subsubcategory)
                </dd>*@
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>