@model JOMarkt.Models.MultipleProducts

@{
    ViewData["Title"] = "Details";
}





    <div class="categories">
        <div class="cats" style="margin-top:0;padding:0;">
            <a style="margin-right:10%;" href="javascript:history.back()"><i class="fa fa-angle-left" style="margin-bottom:0;padding-bottom:0;"></i> terug</a>
            <a  asp-action="Index" asp-controller="Home">Home</a>
            <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
            <a asp-action="Index" asp-controller="Products">Producten  >  </a>
            <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
            <a asp-action="Index" asp-controller="Categories">@Html.DisplayFor(m => m.Category.Name) Categorieën </a>
            <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
            <a asp-action="Index" asp-controller="SubCategories">@Html.DisplayFor(m => m.Product.Subcategory) Subcategorieën</a>
            <i class="fa fa-angle-right" style="margin-left:5px;margin-right:5px;"></i>
           @*// <a asp-action="Index" asp-controller="SubsubCategories">@Html.DisplayFor(m => m.Product.Subsubcategory)</a>*@

        </div>
    </div> 


<div class="containerdetail">
    
        <div class="kaas" style="margin-top: 5%;">
            <div class="row">
                <div class="col">
                    <img class="productfotodetails" src="@Html.DisplayFor(m => m.Product.Image)" />
                </div>
                <div class="col-8">
                    <dd class="col-sm-10">
                        <h1 style="white-space: nowrap;">
                            @Html.DisplayFor(m => m.Product.Title)
                        </h1>
                        <hr />
                    </dd>
                   
                    <p style="font-size: 20px;  margin-top:5%;">@Html.DisplayFor(m => m.Product.Fulldescription)</p>
                    <dd class="col-sm-10">

                        <p style="font-size: 40px; font-weight: bold; margin-top:10%;">&euro;@Html.DisplayFor(m => m.Product.Price)</p>
                        <p style="font-size: 20px; color:grey; font-weight: bold; margin-top:-5%;"> @Html.DisplayFor(m => m.Product.Weight)</p>

                        @*@Html.DisplayFor(m => m.Product.Id)*@ <br />

                    </dd>
                    
                    <dd>
                        <a asp-action="AddToCart" class="btn btn-success btn-block" asp-route-id="@Model.Product.Id">In winkelwagen</a>
                    </dd>
                    
                    <dd class="col-sm-10">
                        <p style="color: grey;margin-top:-2%;">@Html.DisplayFor(m => m.Product.EAN)</p>
                        <p style="color: grey;margin-top:-3%;">@Html.DisplayFor(m => m.Product.Brand)</p>

                    </dd>
                </div>

            </div>
            <dl class="row">
                <dd class="col-sm-10">
                   
                </dd>
            </dl>
        </div>
        <br />
        @*<h1>Soortgelijke producten:     </h1>
        foreach (var related in Model.RelatedProducts)
        {
            <div class="block" style="margin-bottom:250px;">
                <a asp-action="Detailpagina" asp-route-id="@related.Id">
                    <img class="relatedimg" src="@related.Image">
                </a>
            </div>
        }*@
       
    
</div>
