@model IEnumerable<JOMarkt.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@* POPUP *@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="alert alert-success" role="alert">
                Uw product is succesvol toegevoegd aan uw <a href="#">winkelwagen</a>!
            </div>
        </div>
    </div>
</div>

<div class="customcontainer">
    
    <br />
    <h1>Producten</h1>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder=" Zoek een product...">
    
    <hr />
    <br />
    <ul id="myRow" class="row justify-content-start">

        @foreach (var item in Model)
        {

            <li>
                <a asp-action="Detailpagina" asp-route-id="@item.Id" style="text-decoration: none;">
                <div class="card" style="width: 18rem;">
                    <div style="width:100%; text-align:center;">
                        <img class="productfoto" style="margin-top:20px;" src="@item.Image">
                    </div>
                    <div class="card-body" style="height:120px;max-height:120px;">
                        <p class="producttitel">@Html.DisplayFor(modelItem => item.Brand)</p>
                        @Html.DisplayFor(modelItem => item.Title)

                    </div>
                    <footer class="addtocartbtn">
                        @*      <a data-toggle="modal" data-target="#exampleModalCenter" asp-action="AddToCart" asp-route-id="@item.Id" style="color:#fff;">Add to cart</a>*@
                        <a asp-action="AddToCart" asp-route-id="@item.Id" style="color:#fff;">Add to cart</a>
                        <p class="price">&euro;@Html.DisplayFor(modelItem => item.Price)</p>
                    </footer>
                </div>

                </a>
             </li>
        }
    </ul>
</div>

